@font-face {
  font-family: 'Courier new';
  font-weight: bold;
  src: url('../assets/Courier.ttf');
}

@font-face {
  font-family: 'Courier new';
  font-weight: normal;
  src: url('../assets/Courrier_regular.ttf');
}

@font-face {
  font-family: 'Computer says no';
  src: url('../assets/Computer_says_no.ttf');
}

@font-face {
  font-family: 'LM Roman 10';
  font-weight: bold;
  src: url('../assets/lmroman10_bold.otf');
}

@font-face {
  font-family: 'LM Roman 10';
  src: url('../assets/lmroman10-regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/OpenSans.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/OpenSans-Regular.ttf');
  font-weight: normal;
}

.activityButton {
  width: 20%;
  text-align: center;
  padding: 24px;
  background-color: #707070;
  transition: 0.2s;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 16px;
}

.activityButton:hover {
  box-shadow: 2px 2px 5px 0px rgb(144, 144, 144);
}

.activityButton img {
  width: 100%;
}

.line-break {
  width: 100%;
}

#atividades {
  margin-bottom: 112px;
}

.logo.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logout {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
}

.logout button {
  font-size: 24px;
  text-transform: uppercase;
  float: right;
}

.logout a {
  color: #1edbb9;
}

.welcome p {
  color: #5dff43;
  font-size: 24px;
  padding-top: 8px;
}

.logo img {
  width: 160px;
  height: auto;
}

main.fullwidth {
  height: 100vh;
  background-color: rgb(93, 93, 93);
}

.login {
  background: rgb(162, 162, 162);
  text-align: center;
  padding: 16px;
  font-size: 1.5em;
}

.loginForm {
  width: 100%;
}

.loginForm input,
.passwordForm input {
  background-color: white;
  margin-bottom: 12px;
  padding: 4px;
  border: 1px solid rgb(142, 142, 142);
  border-radius: 4px;
  font-size: 20px;
}

.loginForm button,
.passwordForm button {
  background-color: rgb(11, 126, 29);
  border-radius: 8px;
  color: #fff;
  padding: 8px;
  width: 80%;
  font-size: 20px;
  text-transform: uppercase;
}

.loginForm button:hover,
.passwordForm button:hover {
  background-color: rgb(1, 75, 13);
  box-shadow: 3px 2px 7px 0px grey;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #5a5a5a;
}

.header.editor {
  background: #31332c;
  color: rgb(193, 193, 193);
  padding: 8px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.header.editor div {
  display: flex;
}

.header.console {
  background: #a4a4a4;
  color: #292929;
  padding: 8px;
  font-size: 24px;
  padding-left: 41px;
  padding-right: 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #373a32;
}

.footer button,
.finish button {
  border: solid 2px;
  padding: 8px;
  font-size: 24px;
}

.finish {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(107, 107, 107);
  padding: 32px;
  font-size: 24px;
}

.correction {
  display: contents;
}

.footer button:hover,
.finish button:hover,
.dialog button:hover {
  background: #747969;
}

.doing,
.done {
  all: inherit;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.half {
  width: 50%;
  height: 100%;
}

#editorAndConsole {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 60px);
  position: absolute;
  right: 0;
  transition: width ease 0.4s
}

#editorAndConsole.vertical {
  display: flex;
  flex-direction: column;
  width: calc(50vw);
  position: absolute;
  right: 0;
}

#editorAndConsole.vertical .half {
  width: 100%;
  height: 50%;
}

#editorAndConsole.vertical .half #editor {
  height: calc(50vh - 130px);
}

#editorAndConsole.vertical .half #log {
  max-height: calc(50vh - 45px);
}

#editor {
  width: 100%;
  height: calc(100vh - 130px);
}

#editor2 {
  width: 100%;
  height: calc(100vh - 170px);
}

.ace_editor * {
  font-family: monospace !important;
}

.green {
  border-color: #00bd36;
  color: #00bd36;
}

.orange {
  border-color: #e8cb63;
  color: #e8cb63;
}

.rose {
  border-color: #ff7979;
  color: #ff7979;
}

.purple {
  border-color: #c4baf5;
  color: #c4baf5;
}

.white_back {
  color: #fff;
  padding-right: 16px;
}

.wine {
  border: 2px solid #c90000;
  color: #c90000;
}

.clear:hover {
  background: #747969;
}

button.bordered {
  border: 2px solid;
  padding: 4px;
  font-size: 16px;
}

#log {
  padding: 8px;
  max-width: 100%;
  word-wrap: break-word;
  overflow-y: auto;
  max-height: calc(100vh - 45px);
}

.log.error {
  color: red;
}

.log {
  font-family: monospace;
}

.log::before {
  content: '>';
  padding-right: 8px;
}

#saveDialog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(203, 203, 203, 0.88);
  z-index: 5;
  top: 0;
  bottom: 0;
}

#saveDialog .dialog {
  max-width: 50vw;
  background: rgb(89, 89, 89);
  color: white;
  padding: 24px;
  box-shadow: 0 0 20px 2px white;
  text-align: center;
  min-width: 486px;
}

#saveDialog img {
  fill: red;
  width: 22px;
}

.buttons button,
.githubPath button {
  border: solid 2px;
  font-size: 24px;
}

#closeButton {
  border: none;
  color: red;
  font-size: 30px;
  position: relative;
  right: -212px;
  top: -16px;
}

.githubPath input {
  background: white;
  border: 2px solid rgb(154, 154, 154);
  border-radius: 2px;
  margin-top: 16px;
  font-size: 20px;
  padding: 8px;
}

select#corrector,
select#file {
  background: white;
  padding: 2px;
  margin: 16px;
  font-size: 20px;
  margin: 1px solid black;
}

#content .post {
  background-color: white;
  padding: 16px;
  margin-top: 32px;
}

#content .post * {
  font-family: monospace;
  font-size: 20px;
}

#content .post a:link {
  color: rgb(39, 50, 148);
}

#content .post a:visited {
  color: rgb(39, 50, 148);
}

#content .post .link {
  background-color: rgb(170, 170, 170);
  padding: 4px;
}

#content .post p {
  margin-bottom: 16px;
}

.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#progressBarBg {
  width: 30vw;
  height: 8px;
  background-color: #b1b1b1;
}

#progressBar {
  height: 8px;
  background-color: rgb(27, 147, 46);
}

.name-msg {
  display: inherit;
}

#msg {
  height: 32px;
  width: auto;
  margin-left: 8px;
  margin-top: 6px;
  display: block;
  cursor: pointer;
}

#msg-box {
  position: absolute;
  background: #ececec;
  border: 1px solid #858585;
  box-shadow: 2px 2px 5px #404040;
  border-radius: 4px;
  margin-top: 16px;
  width: 250px;
  top: 215px;
  text-align: center;
}

#msg-box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #ececec;
  border-top: 0;
  margin-left: -10px;
  margin-top: -10px;
}

div.message {
  padding: 8px;
  display: block;
  border-top: 1px solid #5c5c5c;
  text-align: left;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

div.message .date {
  font-size: 12px;
  color: #6a6a6a;
}

div.message:hover {
  background-color: #adadad;
}

header.intro-text {
  display: block;
  background-color: #acacac;
}

#questions {
  display: block;
}

#questions .question .text {
  flex: 1;
  padding: 8px;
}

#questions .question input[type='radio'],
.comments .question input[type='checkbox'] {
  display: none;
}

#questions .question label,
.comments .question label {
  border: 1px solid #00a032;
  background: white;
  padding: 16px;
  color: #00a032;
  cursor: pointer;
  min-width: 200px;
  float: left;
  text-align: center;
  flex: 1;
}

.container #questions input:checked + label,
.container .comments input:checked + label {
  border: 1px solid white;
  background: #00a032;
  color: white;
  font-weight: bold;
}

textarea[name='comments'] {
  width: 100%;
  padding: 8px;
  font-size: 20px;
}

#questions .question label:first-of-type,
.comments .question label:first-of-type {
  border-radius: 8px 0 0 8px;
  border-right: none;
}

#questions .question label:last-of-type,
.comments .question label:last-of-type {
  border-radius: 0 8px 8px 0;
}

#questions a {
  color: #3ddd0d;
  text-decoration: underline;
}

.content .container {
  width: 900px;
  display: block;
}

#finish-correction {
  color: white;
  background: #00a032;
  border-radius: 8px;
  padding: 20px;
  font-size: 20px;
  float: right;
  margin-top: 24px;
}

#feedback-questions .question {
  display: flex;
  flex-direction: column;
}

#feedback-questions .question .picker {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#feedback-questions .question .picker .radios {
  background: #c5c5c5;
  flex: 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
}

.picker p {
  flex: 1;
  text-align: center;
}

.picker input[type='radio'] {
  display: none;
  margin: 0;
}

.radios label {
  border: 2px solid #00af35;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.picker input[type='radio'] + label::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 13px;
  left: 13px;
  border-radius: 50%;
  background: #00af35;
  transition: all 0.1s ease;
}

.picker input[type='radio']:checked + label::after {
  width: 14px;
  height: 14px;
  top: 3px;
  left: 3px;
}

.question .title {
  font-size: 22px;
  margin-top: 40px;
  padding-bottom: 24px;
}

#github-file img {
  width: 24px;
}

div .delete-msg {
  position: absolute;
  right: 4px;
  font-size: 10px;
  width: 12px;
  text-align: center;
  margin-top: 6px;
}

div .delete-msg:hover {
  background-color: #b10000;
  border-radius: 50%;
}

button.border {
  border: 2px solid;
}

#HTMLview {
  border: none;
  width: 100%;
  height: calc(100vh - 50px);
}

#split-bar {
  flex: 0 0 auto;
  width: 18px;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png)
    center center no-repeat #535353;
  min-height: 200px;
  cursor: col-resize;
}

#CPoints,
#coins {
  color: white;
  text-align: center;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #3d3d3d;
  cursor: not-allowed;
}

.editor a img {
  width: 24px;
}

/* EDITOR */
.editor-container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.editor-tabs {
  padding: 0px;
  margin: 0;
  display: flex;
  background: #2f3240;
  color: #f8f8f2;
  width: 100%;
  height: 40px;
  font: 12px / normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas',
    'source-code-pro', monospace;
}

.editor-tab {
  position: relative;
  appearance: none;
  list-style: none;
  background: transparent;
  padding: 1em 0;
  border: none;
  font: inherit;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  flex-grow: 1;
  text-align: center;
  transition: color 0.3s ease;
  z-index: 1;
}

.editor-tab--active {
  background-color: #282a36;
}

.editor-tab--right-border {
  border-right-color: #121319;
  border-right-width: 1px;
  border-right-style: solid;
}

.editor-body {
  position: relative;
}

.available {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* custom toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  padding-right: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #56fd61;
}

input:focus + .slider {
  box-shadow: 0 0 1px #56fd61;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#saveDialog .loader {
  height: 50px;
  width: 50px;
}

#data {
  width: 80%;
}

#data > div {
  background-color: #4d6a56;
  color: white;
  font-size: 20px;
  padding: 14px;
  display: flex;
}

#data a {
  text-decoration: inherit;
  color: inherit;
}

#data > div:nth-child(even) {
  background-color: #7bac7c;
}

#data > div > div:nth-child(1) {
  width: 200px;
}

.grid {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}

#pdf .page {
  background: white;
  padding: 24px;
  width: 1000px;
  height: 1414px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px 0px #444444;
  position: relative;
}

#pdf .content {
  padding: 60px;
  border: 6px solid #5eb770;
  border-radius: 24px;
  width: 100%;
  height: 100%;
}

#pdf .cover {
  text-align: center;
}

#pdf .cover .title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #66b400;
  font-size: 60px;
}

#pdf .cover #levelNumber {
  font-family: 'LM Roman 10', Courier, monospace;
  font-weight: bold;
  color: #000;
  font-size: 42px;
  text-transform: uppercase;
  margin-top: 180px;
}

#pdf .cover #levelName {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #000;
  font-size: 27px;
  margin-top: 190px;
}

#pdf .cover .icon {
  margin-top: 44px;
}

#pdf .icon {
  width: 100px;
  height: 100px;
}

#pdf .talkingCharacter {
  display: flex;
  margin: 36px 0;
}

#pdf .talkingCharacter.bottom {
  position: absolute;
  bottom: 30px;
  width: 82%;
}

#pdf .speech-bubble {
  position: relative;
  background: #43a61d;
  border-radius: 24px;
  border-top-left-radius: 0;
  margin-left: 32px;
  margin-top: 20px;
  padding: 16px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 20px;
}

#pdf .speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 37px solid transparent;
  border-right-color: #43a61d;
  border-left: 0;
  border-top: 0;
  margin-left: -37px;
}

#pdf .instructions li {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}
#pdf .instructions a {
  color: #43a61d;
  text-decoration: underline;
}

#pdf .content #chapterNumber {
  font-family: 'LM Roman 10', Courier, monospace;
  font-weight: normal;
  color: #000;
  font-size: 60px;
  margin: 0;
}

#pdf .content #chapterName {
  font-family: 'Open Sans', Courier, monospace;
  font-weight: normal;
  color: #000;
  font-size: 60px;
  margin: 16px 0;
}

#pdf .table {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

#pdf .table .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid black;
  border-bottom: 0;
  padding: 4px;
  font-family: 'Open Sans', Courier, monospace;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
}

#pdf .table .row.centered {
  justify-content: center;
}

#pdf .table .row:last-of-type {
  border-bottom: 1px solid black;
}

#pdf #M {
  font-family: 'Computer says no', Courier, monospace;
  color: #43a61d;
  font-size: 60px;
  border-right: 1px solid black;
  padding: 16px;
}

#pdf #exerciseNumber {
  flex-grow: 1;
}

#pdf .example .title {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin-top: 16px;
}

#pdf .example .box {
  background: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 4px 4px 15px 4px;
  font-size: 24px;
  width: 100%;
  min-height: 72px;
}

#pdf .example .box:only-child {
  margin-top: 24px;
}

#pdf .example .comment {
  font-family: inherit;
  color: darkgrey;
}

#pdf .inline-image {
  max-width: 80%;
}

#activities {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  #pdf .page {
    padding: 2.4vw;
    width: calc(98vw - 48px);
    height: calc(98vw * 1.414);
    margin-bottom: 2vw;
    box-shadow: 0 0 0.5vw 0 #444444;
  }

  #pdf .content {
    padding: 6vw;
    border: 0.6vw solid #5eb770;
    border-radius: 2.4vw;
  }

  #pdf .cover .title {
    font-size: 6vw;
  }

  #pdf .cover #levelNumber {
    font-size: 4.2vw;
    margin-top: 18vw;
  }

  #pdf .cover #levelName {
    font-size: 2.7vw;
    margin-top: 19vw;
  }

  #pdf .cover .icon {
    margin-top: 4.4vw;
  }

  #pdf .icon {
    width: 10vw;
    height: 10vw;
  }

  #pdf .talkingCharacter {
    margin: 3.6vw 0;
  }

  #pdf .talkingCharacter.bottom {
    bottom: 3vw;
  }

  #pdf .speech-bubble {
    border-radius: 2.4vw;
    margin-left: 3.2vw;
    margin-top: 2vw;
    padding: 1.6vw;
    font-size: 2vw;
  }

  #pdf .speech-bubble:after {
    border: 3.7vw solid transparent;
    margin-left: -3.7vw;
  }

  #pdf .instructions li {
    margin-bottom: 2vw;
    font-size: 2.4vw;
  }

  #pdf ul {
    padding-left: 4vw;
  }

  #pdf .content #chapterNumber {
    font-size: 6vw;
  }

  #pdf .content #chapterName {
    font-size: 6vw;
    margin: 1.6vw 0;
  }

  #pdf .table {
    margin: 5vw;
  }

  #pdf .table .row {
    border: 1px solid black;
    padding: 4px;
    font-size: 2vw;
  }

  #pdf .table .row:last-of-type {
    border-bottom: 1px solid black;
  }

  #pdf #M {
    font-size: 6vw;
    border-right: 1px solid black;
    padding: 1.6vw;
  }

  #pdf .example .title {
    font-size: 2.4vw;
    margin-top: 1.6vw;
  }

  #pdf .example .box {
    padding: 0.4vw 0.4vw 1.5vw 0.4vw;
    font-size: 2.4vw;
    min-height: 7.2vw;
  }

  #pdf .example .box:only-child {
    margin-top: 2.4vw;
  }
}

#blocked {
  min-width: 100vw;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #969696;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: darkgreen;
}