.modernEditor {
  width: initial;
  height: initial;
}

#navContainer {
  position: absolute;
  z-index: 5;
}

.modernEditor nav {
  width: 60px;
  background: #757575;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 32px;
  padding-top: 16px;
  padding: 8px;
  box-shadow: 0 0 3px grey;
  transition: width 0.4s;
  z-index: 200;
}

nav .space {
  height: 24px;
}

#togglePDF,
nav .exercise {
  border-radius: 8px;
  border: 2px solid #42c70a;
  padding: 8px;
  height: 42px;
  width: 42px;
  padding-left: 13px;
  margin-bottom: 16px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
  transition: width 0.4s;
}

.exercise:hover {
  border-radius: 8px;
  background: #616161;
  box-shadow: inset 1px 1px 2px #222;
}

.exercise.selected {
  border-color: black;
  background: #009c00;
  color: black;
}

nav:hover {
  width: 100%;
  min-width: 60px;
}

nav:hover .exercise,
nav:hover .name {
  width: 100%;
}

nav .name {
  margin-left: 16px;
  width: 0;
  transition: width 4s;
  text-align: left;
}

iframe {
  width: calc(100% - 18px);
  height: 100%;
  transition: width ease 0.4s;
}

#instructions.hidden,
#instructions.hidden iframe {
  width: 0;
}

#editorAndConsole:not(.vertical) .half:nth-child(1) {
  margin-left: 15px;
}

#instructions.hidden button {
  display: none;
}

#instructions button {
  position: absolute;
  bottom: 0;
  left: 60px;
}

#instructions #openPDF {
  padding: 8px;
  margin: 24px;
  text-transform: uppercase;
  border: 1px solid black;
  background: darkgreen;
  color: white;
}

#togglePDF {
  bottom: 0;
  font-weight: bold;
  position: absolute;
}

#instructions {
  width: calc(50vw - 60px);
  margin-left: 60px;
  transition: width ease 0.4s;
  display: flex;
}

#instructions #split-bar {
  float: right;
  right: 0;
  height: 100vh;
  transition: background-color ease 0.4s, right ease 0.4s;
}

#instructions #split-bar.clicked {
  background-color: green;
}

#iframeHover {
  width: calc(50vw - 78px);
  position: absolute;
  background-color: #72ec72;
  top: 0;
  transition: opacity ease 0.4s;
  opacity: 0;
}

#consoleHover {
  width: calc(50vw);
  position: absolute;
  background-color: #aaa;
  top: 0;
  transition: opacity ease 0.4s;
  opacity: 0;
  z-index: 7;
}

#consoleHover.active,
#iframeHover.active {
  height: 100vh;
  opacity: 0.8;
  display: block;
}

#exercisePDF {
  max-height: 100vh;
  overflow: auto;
}

#instructions #exercisePDF .page {
  background: white;
  padding: 8px;
  width: calc(100%);
  height: 100%;
  position: relative;
}

#instructions #exercisePDF .content {
  padding: 16px;
  border: 3px solid #5eb770;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

#instructions #exercisePDF .icon {
  width: 8vw;
  height: 8vw;
}

#instructions #exercisePDF .talkingCharacter {
  display: flex;
  align-items: end;
  margin: 16px 0;
}

#instructions #exercisePDF .talkingCharacter.bottom {
  position: absolute;
  bottom: 16px;
  width: 82%;
}

#instructions #exercisePDF .speech-bubble {
  position: relative;
  background: #43a61d;
  border-radius: 8px;
  border-top-left-radius: 0;
  margin-left: 16px;
  margin-top: 8px;
  padding: 8px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 14px;
}

#instructions #exercisePDF .speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-right-color: #43a61d;
  border-left: 0;
  border-top: 0;
  margin-left: -16px;
}

#instructions #exercisePDF .instructions li {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#instructions #exercisePDF .instructions a {
  color: #43a61d;
  text-decoration: underline;
}

#instructions #exercisePDF .content #chapterNumber {
  font-family: 'LM Roman 10', Courier, monospace;
  font-weight: normal;
  color: #000;
  font-size: 30px;
  margin: 0;
}

#instructions #exercisePDF .content #chapterName {
  font-family: 'Open Sans', Courier, monospace;
  font-weight: normal;
  color: #000;
  font-size: 24px;
  margin: 16px 0;
}

#instructions #exercisePDF .table {
  display: flex;
  flex-direction: column;
}

#instructions #exercisePDF .table .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid black;
  border-bottom: 0;
  padding: 3px;
  font-family: 'Open Sans', Courier, monospace;
  font-weight: lighter;
  font-size: 16px;
  text-align: center;
}

#instructions #exercisePDF .table .row.centered {
  justify-content: center;
}

#instructions #exercisePDF .table .row:last-of-type {
  border-bottom: 1px solid black;
}

#instructions #exercisePDF #M {
  font-family: 'Computer says no', Courier, monospace;
  color: #43a61d;
  font-size: 36px;
  border-right: 1px solid black;
  padding: 8px;
}

#instructions #exercisePDF #exerciseNumber {
  flex-grow: 1;
}

#instructions #exercisePDF .example .title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 8px;
}

#instructions #exercisePDF .example .box {
  background: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 4px 4px 15px 4px;
  font-size: 16px;
  width: 100%;
  min-height: 36px;
}

#instructions #exercisePDF .example .box:only-child {
  margin-top: 20px;
}

#instructions #exercisePDF .example .comment {
  font-family: inherit;
  color: darkgrey;
}

#instructions #exercisePDF .inline-image {
  max-width: 80%;
}